@page "/fornecedores"
@rendermode InteractiveServer

@inject IFornecedorRepository fornecedorRepo

<h1>Fornecedores</h1>

@*
// abaixo vamos inserir um botão para incluir um novo fornecedor
// esse botão vai fucncionar da seguinte forma:
// quando clicar ele vai chamar o método Incluir() dessa classe
// esse método vai limpar o formulario e preparar o software para receber os dados
*@

<button class="btn btn-primary" @onclick="Incluir">Nova Categoria</button>


<div class="row mt-3">

    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Nome"
         @ref="_nomeRef" 
         @bind="fornecedor.Nome" />
    </div>

    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="CNPJ" @bind="fornecedor.Cnpj" />
    </div>

    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Cep: 14400-000" 
               @bind="fornecedor.Cep" />
    </div>

    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Endereço" 
               @bind="fornecedor.Endereco" />   
    </div>

</div>

<div class="row mt-3">

    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Bairro" @bind="fornecedor.Bairro" />
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Cidade" @bind="fornecedor.Cidade" />
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" placeholder="UF" @bind="fornecedor.Estado" />
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Telefone" @bind="fornecedor.Telefone" />
    </div>

</div>

<div class="row mt-3">

    <div class="col-md-2">
        <button class="btn btn-success" @onclick="SalvarDados">Salvar</button>
    </div>

</div>

@* abaixo vamos colocar a mensagem caso o nome não esteja preenchido se for clicado no botao salvar*@

@if (mostrarMensagemErro) {
    <div class="alert alert-danger mt-3">
        O nome do fornecedor é obrigatório.
    </div>
}


<table class="table table-striped">

    <thead>

        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Ações</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in fornecedores)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Cnpj</td>
                <td>
                    <button class="btn btn-sm btn-warning"
                            @onclick="() => Editar(item)">
                            Alterar
                    </button>

                    <button class="btn btn-sm btn-danger"
                            @onclick="() => Excluir(item.Id)">
                        Excluir
                    </button>




                </td>
            </tr>
        }

    </tbody>


</table>





<style>
    h1 {
        color: white;
        font-size: 2.5em;
        margin-bottom: 20px;
        background-color: #800080;
    }
</style>

@code {

    // declaraçao de variaveis
    Fornecedor fornecedor = new Fornecedor();
    List<Fornecedor> fornecedores = new List<Fornecedor>();
    bool ehInclusao = true;
    bool mostrarMensagemErro = false;
    
     // vamos criar a variavel para dar o foco no campo nome
    ElementReference _nomeRef;  // variavel de referencia


    // que o metodo OnInitializedAsync seja executado quando o componente for inicializado
    protected override async Task OnInitializedAsync()
    {
        fornecedores = await fornecedorRepo.Listar();
    }


    // metodo salvar
    private async Task SalvarDados(){

        if (ehInclusao)
        {
            if (string.IsNullOrEmpty(fornecedor.Nome))
            {
                // se o nome estiver vazio, não salva e exibe a mensagem de erro
                mostrarMensagemErro = true;
                StateHasChanged();  // atualiza a interface para exibir a mensagem de erro
                return;
            }
            await fornecedorRepo.Incluir(fornecedor);  // metodo de inclusao
        }
        else
        {
            await fornecedorRepo.Atualizar(fornecedor);  // metodo de atualizaçao
        }

        fornecedores = await fornecedorRepo.Listar();
        fornecedor = new Fornecedor();
        ehInclusao = true;
        mostrarMensagemErro = false;  // esconde a mensagem de erro depois de salvar

    }

    private async Task Incluir(){
        
        mostrarMensagemErro = false;  // esconde a mensagem de erro quando clicar em incluir

        fornecedor = new Fornecedor();  // limpa o formulario porque objeto fica vazio

        ehInclusao = true;  // diz ao software que é inclusão

        // agora posso inserir o comando para dar o foco no campo nome
        await _nomeRef.FocusAsync();  // comando para dar o foco no campo nome
 
    }


    private async Task Editar(Fornecedor _forn) {
        fornecedor = _forn;  // preenche o formulario com os dados do fornecedor selecionado
        ehInclusao = false;  // diz ao software que é alteração
        await _nomeRef.FocusAsync();  // comando para dar o foco no campo nome
    }

    private async Task Excluir(int id) {
        await fornecedorRepo.Deletar(id);  // chama o método de exclusão do repositório
        fornecedores = await fornecedorRepo.Listar();  // recarrega a lista de fornecedores
    }



}

