@page "/"
@using crudcomdb.Components.Pages.Componentes

<PageTitle>Home</PageTitle>

<Cartao Titulo="Cartão 1" 
        Subtitulo="Subtítulo 1" 
        Descricao="Descrição do cartão 1" />


<Cartao Titulo="Cartão 2" 
        Subtitulo="Subtítulo 2" 
        Descricao="Descrição do cartão 2"
        CorBackGround="bg-success"
        CorTexto="text-warning"
        />  

<Cartao Titulo="Cartão 3" 
        Subtitulo="Subtítulo 3" 
        Descricao="Descrição do cartão 3"
        CorBackGround="bg-danger"
        CorTexto="text-white"
        />  

<div class="row">
    <div class="col-md-4">
    <Cartao Titulo="Cartão 1" 
        Subtitulo="Subtítulo 1" 
        Descricao="Descrição do cartão 1" />
    </div>
    <div class="col-md-4">
    <Cartao Titulo="Cartão 2" 
        Subtitulo="Subtítulo 2" 
        Descricao="Descrição do cartão 2"
        CorBackGround="bg-success"
        CorTexto="text-warning"
        />
    </div>
    <div class="col-md-4">
    <Cartao Titulo="Bola Adidas Futebol" 
        Subtitulo="Copa 2026" 
        Descricao="Bola Official Match Ball da Copa do Mundo FIFA 2026, a Adidas Al Rihla, é a bola mais rápida da história da Copa do Mundo, projetada para oferecer desempenho excepcional em todas as condições climáticas."
        CorBackGround="bg-danger"
        CorTexto="text-white"
        />  
    </div>
</div>
